
---
apiVersion: apiextensions.k8s.io/v1beta1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.2.5
  creationTimestamp: null
  name: buckets.storage.k8s.riveiro.io
spec:
  group: storage.k8s.riveiro.io
  names:
    kind: Bucket
    listKind: BucketList
    plural: buckets
    shortNames:
    - bk
    singular: bucket
  scope: Namespaced
  subresources:
    status: {}
  validation:
    openAPIV3Schema:
      description: Bucket is theSchema for the buckets API
      properties:
        apiVersion:
          description: 'APIVersion defines the versioned schema of this representation
            of an object. Servers should convert recognized schemas to the latest
            internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
          type: string
        kind:
          description: 'Kind is a string value representing the REST resource this
            object represents. Servers may infer this from the endpoint the client
            submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
          type: string
        metadata:
          type: object
        spec:
          description: BucketSpec defines the desired state of Bucket
          properties:
            location:
              description: Defines the location where the bucket will be created.
                https://cloud.google.com/storage/docs/locations
              type: string
            name:
              type: string
            project:
              description: Defines the project where the bucket will be created.
              type: string
            removeOnDelete:
              description: Defines if we gcs bucket should be delete with the CR.
              type: boolean
            storageClass:
              description: Defines the kind of the storage to use. https://cloud.google.com/storage/docs/storage-classes
              type: string
          type: object
        status:
          description: BucketStatus defines the observed state of Bucket
          properties:
            gcsBucketRef:
              type: string
          type: object
      type: object
  version: v1alpha1
  versions:
  - name: v1alpha1
    served: true
    storage: true
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
